* {
	margin: 0;
}

body{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 14px;
}

.login{
	width: 350px;
	margin: 100px auto;
}

p {
	margin-bottom: 15px;
}

p.error{
	color: red;
	padding: 10px;
}

input{
	display: block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 14px;
}

button{
	padding: 5px;
	box-sizing: border-box;
}

header{
	background: gray;
	overflow: auto;
	padding: 10px;
	font-size: 20px;
}

header .appname{
	float: left;
}

header .loggedin{
	float: right;
	margin-right: 10px;	
}